.animate-enter {
  opacity: 0.01;
}

.animate-enter.animate-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.animate-appear {
  opacity: 0.01;
}

.animate-appear.animate-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}